* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  transition: 10s;
  /* background: rgb(15, 30, 128); */
  background: linear-gradient(to bottom, rgb(15, 30, 128), rgb(13, 26, 101));
  flex-direction: column;
  color: gray;
}

.hero {
  width: 400px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  box-sizing: border-box;
  border-radius: 250px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 30px;
  background-color: white;
  opacity: 80%;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.nav-items {
  -webkit-text-stroke: 0.2px black;
  font-weight: 350;
  transition: all 0.5s ease-in-out;
}

.nav-items:hover {
  color: rgb(15, 30, 128);
  transform: scale(1.15);
}
.nav-items::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid black;
  transform: scaleX(0);
  transition: 0.4s;
}
.nav-items:hover::after {
  transform: scaleX(1);
}
.nav-menu a {
  text-decoration: none;
  color: black;
}

main {
  flex-direction: column;
  display: flex;
  width: 80%;
  min-height: 100vh;
}

.first {
  font-family: "Courier New", Courier, monospace;
  justify-content: space-evenly;
  display: flex;
}

.perkenalan {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.perkenalan h3 {
  margin-bottom: -5px;
}

#name {
  font-size: 50px;
  font-weight: 600;
  margin-top: 0;
  background: linear-gradient(
    to right,
    rgb(66, 115, 230),
    rgb(238, 255, 0) 90%
  );
  background-size: 800%;
  background-clip: text;
  color: transparent;
  animation: nama 4s infinite alternate-reverse;
  -webkit-animation: nama 2s infinite alternate-reverse;
}

@keyframes nama {
  0% {
    background-size: 1000%;
  }
  100% {
    background-size: 100%;
  }
}

/* body.dark{
background-color: black !important;
background: none;
} */
